
.container {
    animation: rotate-bg-color 15s infinite;
}

@keyframes rotate-bg-color {
    0% {
        background-color: #ceff;
    }
    10% {
        background-color: red;
    }
    20% {
        background-color: orange;
    }
    30% {
        background-color: #f8f803;
    }
    40% {
        background-color: #00f800;
    }
    50% {
        background-color: blue;
    }
    60% {
        background-color: #9104fa;
    }
    70% {
        background-color: #fa04fa;
    }
    80% {
        background-color: #fa0530;
    }
    90% {
        background-color: brown;
    }
    100% {
        background-color: black;
    }
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: Arial, sans-serif;
    text-align: center;
    background: #ccef;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 6rem;
    /*    position: fixed;*/
/*    background: black;*/
    /*    height: 400px;*/
    /*    width: 400px;*/
    border-radius: 20px;


}
.container h2{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 40px;
}
.input-container input{
    width: 100%;
    padding: 1rem;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 15px;
    outline: none;
    border: none;
}
button{
    margin: 10px;
    padding: 10px 20px;
    padding: 1rem;
    background: blueviolet;
    font-size: 2rem;
    font-weight: bold;
    color: #ceff;
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover{
    background: #a35fe3;
}
button:active {
    background-color: deeppink;
    transform: translateY(2px); /* Optional: gives a "pressed" effect */
}
p{
    width: 100%;
    height: 80px;
    background: #ccef;
    color: black;
    border: 1px solid #555;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    font-size: 2rem;

}
.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.lowercase{
    text-transform: lowercase;
}
.italic{
    font-style: italic;

}
.underline{
    text-decoration: underline;
}